eval "$(mise direnv activate)"

export COCLI_DATA_HOME=/home/mstouffer/repos/company-cli/data
export AWS_PROFILE=westmonroe-support

export MYPY_PATH="$(pwd)/cocli"

on_enter() {
    echo "Entering directory: $(pwd)"
    echo "Starting mypy daemon..."
    mise run mypy-daemon-start
}

on_exit() {
    echo "Exiting directory: $(pwd)"
    echo "Stopping mypy daemon..."
    mise run mypy-daemon-stop
}
