build
temp
# AWS Credentials for RPi deployment
docker/rpi-worker/.rpi_credentials
docker/rpi-worker/.rpi_config

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
cocli.egg-info/
.gemini/
cocli_data
.gz
.tar
dist
.logs/
.envrc
turboship
quickbooks-search
